 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
 </head>
 <body>
    <h1>About Us</h1>
    <p>
      To help with scouting the housing market, our app will take out the middle man in buying a home to have a more genuine relationship between sellers and buyers. Sellers can list their properties with contact info while buyers can favorite the listings they like and get in touch to communicate further.
    </p>
 </body>
 </html>