{% load static %}
<!DOCTYPE html>
<html>
<html lang=en>
  <head>
    <meta charset=UTF-8 />
    <meta name=viewport content=width=device-width, initial-scale=1.0 />
    <meta http-equiv=X-UA-Compatible content=ie=edge />
    <title>Propertize</title>
   
    <!-- <link
      rel=stylesheet
      href= MATERALIZE LINK HERE
    /> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
 <script src=""></script>
  </head>
  <body>
    <header class=navbar-fixed>
      <nav>
        <div class=nav-wrapper>
          <ul>
            <li>
              <a href=/ class=left brand-logo> Propertize</a>
            </li>
        </div>
      </nav>
    </header>


    <main class=container>{% block content %} {% endblock %}</main>
    <footer class=page-footer>
      <div class=right>
        © 2023 Popertize, All Rights Reserved 
      </div>
    </footer>
  </body>
</html>