{% extends 'base.html' %} {% block content %}


<h1>All Properties</h1>

{% for property in properties %}
<div class="card">
  <a href="{% url 'detail' property.id %}">  
    <div class="card-content">
        <span class="card-title">{{ property.title }}</span>
        <p>Price: {{ property.price }}</p>
        <p>Description: {{ property.description }}</p>
        <p>No. of Bedrooms: {{ property.bedroom }}</p>
        <p>No. of Bathrooms: {{ property.bathroom }}</p>
        <img src="{{ property.images.url }}" alt="">
    </div>
  </a>
</div>
{% endfor %} 
{% endblock %}
