{% extends 'base.html' %} {% block content %}


<h1>My Properties </h1>

{% for property in properties %}
<div class="card">
  <a href="{% url 'detail' property.id %}">  
    <div class="card-content">
        <span class="card-title">{{ property.title }}</span>
        <p class="price">${{ property.price }}</p><p class="bedrooms">{{ property.bedroom }} Bed | {{ property.bathroom }} Bath</p> <p class="bathrooms"></p>
        <p class="description">{{ property.description }}</p>
        
        
        <img src="{{ property.images.url }}" alt="">
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
